#answer-box {
	width: 100px;
	height: 100px;
	// background-color: blue;
	margin: 50px 0;
	border: 5px solid gray;
}
.alphabet {
	text-align: center;
}
.letters {
	display: inline-block;
}
.letter-box {
	text-align: center;
	font-size: 50px;
}